# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Django
*.sqlite3
media/
staticfiles/

# Sistema
.DS_Store
Thumbs.db
.env

# VS Code
.vscode/

# Archivos temporales
.tmp/
tmp/
